<?xml version="1.0"?>

<model>
  <name>camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Michael Walton</name>
    <email>walton.myke@gmail.com</email>
  </author>

  <description>
    camera for recording the simulation
  </description>

  <depend>
  </depend>
</model>
